@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Philosopher:wght@400;700&display=swap');

body {
font-family: 'Alkatra', cursive;
font-family: 'Philosopher', sans-serif;
background-color: rgba(230, 120, 90, 0.7);
padding: 30px 0;
}

.container {
    display: flex;
    width: 1000px;
    min-height: 1200px;
    border: 5px solid grey;
    margin: 0 auto;
    background: white;
}

.leftside {
    display: block;
    width: 350px;
    min-height: 1200px;
    border: 2px solid grey;
    background: blue;
}

.rightside {
    display: block;
    width: 650px;
    min-height: 1200px;
    border: 2px solid grey;
    background: green;
}

.cvpic {
    width: 350px;
    min-height: 300px;
    border: 2px solid grey;
    background: yellow;
}

.education {
    width: 350px;
    min-height: 900px;
    border: 2px solid grey;
    background: pink;
}

.personal {
    width: 650px;
    min-height: 300px;
    border: 2px solid grey;
    background: purple;
}

.experience {
    width: 650px;
    min-height: 600px;
    border: 2px solid grey;;
    background: pink;
}

.code {
    width: 650px;
    min-height: 300px;
    border: 2px solid grey;
    background: white;
}