@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Philosopher:wght@400;700&display=swap');

body {
font-family: 'Alkatra', cursive;
font-family: 'Philosopher', sans-serif;
background-color: rgba(139, 100, 89, 0.7);
padding: 30px 0;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
}

h3 {
    font-size:25px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    padding-left: 80px;
    padding-bottom: 15px;
}

.line {
    width: 370px;
    height: 2px;
    background: white;
    margin-top: 20px;
}

.line1 {
    width: 700px;
    height: 3px;
    background: rgb(82, 77, 77);
    margin-top: 20px;
}

a {
    font-size: 20px;
    line-height: 1.5em;
    display: block;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 15px;
}

span {
    color: white;
}

ul {
    list-style-type:disc;
    margin-left: 30px;
}

.colored li::marker {
    color: white;
}

.colored1 li::marker {
    color: rgb(187, 184, 184);
}

.container {
    width: 1150px;
    min-height: 2220px;
    margin: 0 auto;
    background: white;
}

.main {
    display: flex;
    width: 1150px;
    min-height: 2120px;
    background: rgb(86, 110, 86);
}

.footer {
    display: flex;
    width: 1150px;
    min-height: 100px;
    background: rgb(171, 121, 121);
}

.footer ul {
    display: flex;
}

.footer1 {
    width: 400px;
    min-height: 100px;
    background: rgb(76, 76, 92);
}

.footer2 {
    width: 750px;
    min-height: 100px;
    background: rgb(187, 184, 184);
    
}

.left-side {
    width: 400px;
    min-height: 1900px;
    background: rgb(126, 126, 74);
}

.picture {
    width: 400px;
    min-height: 400px;
    background: rgb(76, 76, 92);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts {
    width: 400px;
    min-height: 420px;
    background: rgb(76, 76, 92);
    padding-left: 10px;
    padding-top: 10px;
}

.education {
    width: 400px;
    min-height: 630px;
    background: rgb(76, 76, 92);
    padding-left: 10px;
    padding-top: 10px;
}

.skills {
    width: 400px;
    min-height: 270px;
    padding-left: 10px;
    padding-top: 10px;
    background: rgb(76, 76, 92);
}

.languages {
    width: 400px;
    min-height: 500px;
    padding-left: 10px;
    padding-top: 10px;
    background: rgb(76, 76, 92);
}

.right-side {
    width: 750px;
    min-height: 1200px;
    background: rgb(187, 184, 184);
}

.personal {
    width: 700px;
    min-height: 333px;
    background: rgb(187, 184, 184);
    padding: 25px;
}

.experience {
    width: 700px;
    min-height: 800px;
    background: rgb(187, 184, 184);
    padding: 25px;
}

.code {
    width: 700px;
    min-height: 250px;
    background: rgb(187, 184, 184);
    padding: 25px;
}

.avatar {
    width: 350px;
    border-radius: 50%;
    border: 3px solid white;
}

.code-example {
    width: 650px;
    padding: 15px;
    border-radius: 30px;
}

.github {
    width: 60px;
    height: 60px;
}

.rsschool {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.vk {
    width: 60px;
    height: 60px;
}

.footer2 li a {
    padding: 15px;
}